spring:
  datasource:
    url: jdbc:postgresql://${DEV_POSTGRES_URL}:${DEV_POSTGRES_PORT}/${DEV_POSTGRES_NAME}
    username: ${DEV_POSTGRES_USERNAME}
    password: ${DEV_POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect